/* Center Page Background */
.login-container {
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
      background: url("https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg") no-repeat center center/cover;

}

/* Card Look */
.login-card {
  width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

/* Title */
.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}
